@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #252238;
  text-align: justify;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1ec0dda4;
  height: 220px;
}

.header-logo {
  margin-left: 100px;
}

.header-navbar {
  margin-top: 150px;
}

.header-navbar ul {
  list-style: none;
  font-size: 20px;
  padding-inline-start: 0;
}

.header-navbar li {
  display: inline;
  margin: 0 15px;
  padding: 0 50px;
  font-family: 'Poppins Medium';
}

.frase {
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1ec0dda4;
  height: 60px;
}

.banner,
.img1,
.img2,
.img3 {
  width: 100%;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img1 img,
.img2 img,
.img3 img {
  width: calc(50% - 10px);
  margin: 20px;
}
.header-navbar li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #252238;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s ease;
  }
  
  .header-navbar li a:hover {
    background-color: #1ec0dd;
    color: #fff;
  }